{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
    />
    <link rel="stylesheet" href="/web/static/css/index.css" />
  </head>
  <body>
    <div class="landing-page">
      <header>
        <div class="container">
          <a href="#" class="logo"><b>FORUM</b></a>
          <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/forum?name=all">Forum</a></li>
            <li><a href="/login">Sign In</a></li>
          </ul>
        </div>
      </header>
      <div class="content">
        <div class="container">
          <div class="info">
            <h1>Looking For Inspiration</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellendus odit nihil ullam nesciunt quidem iste, Repellendus
              odit nihil
            </p>
            <a class="get-started" href="/forum?name=all">Get Started</a>
          </div>
          <div class="image">
            <img src="/web/static/media/landin.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{{end}}
