<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Settings</title>
<!--===============================================================================================-->	
	<!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> -->
	<!-- <link rel="stylesheet" type="text/css" href="./util.css"> -->
	<link rel="stylesheet" type="text/css" href="/web/static/css/setting.css">
<!--===============================================================================================-->
</head>
<body>
	<div >
		<button onclick="history.back();" style="text-decoration: none;">
		 
		</button>
	</div> 
	<div class="limiter">
		<div class="container-login100">
			<!-- <div > -->
				<form method="POST" class="wrap-login100" enctype="multipart/form-data">
				<div class="login100-pic" data-tilt>	
					<div class="profile-avatar">
						<input type="file" accept="image/*" name="photo" id="fileInput" onchange="loadFile(event)" style="display:none">
						<label for="fileInput">
 							<img class="profile-img" id="output" src="/web/static/media/{{.User.Photo}}" />
						</label>
					</div>
					 <span>Update Avatar</span>
					 <sub>Allowed JPG, GIF or PNG. Max size of 800K</sub>
				</div>
				<div class="login100-form validate-form">
					<span class="login100-form-title">
						Account Settings
					</span>
					<span class="login100-form-error {{.Status}}">
						{{.Message}}
					</span>
                    <!-- <sub></sub> -->
					<!-- normal form -->
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<label for="username">Username :</label>
						<input id="username" class="input100" type="text" name="username" value="{{.User.Username}}">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div> <div class="back">
						<a  href="/forum?name=all" style="text-decoration: none;">
						  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" style="fill: #ffffff;">
							<path d="m12.707 7.707-1.414-1.414L5.586 12l5.707 5.707 1.414-1.414L8.414 12z"></path>
							<path d="M16.293 6.293 10.586 12l5.707 5.707 1.414-1.414L13.414 12l4.293-4.293z"></path>
						  </svg>
						</a>
					  </div> 
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<label for="email">Email :</label>
						<input id="email" class="input100" type="text" name="email" placeholder="{{.User.Email}}" disabled="disabled">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					<div id="existingPassword" class="wrap-input100 validate-input" data-validate = "Password is required">
						<label  for="password">Password :</label>
						<input id="password" class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<span><input style="margin-top: 10px;" type="checkbox" id="updateCheckbox" onclick="showDiv()" > Update your password</span>
					
					<!-- update password -->
					<div id="passwordDiv" style="display:none ;width: 100%;">
						<div class="wrap-input100 validate-input" data-validate = "Password is required">
							<label for="newPassword">New password :</label>
							<input type="password" class="input100" id="newPassword" name="newPassword" placeholder="New password">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</span>
						</div>
						<div class="wrap-input100 validate-input" data-validate = "Password is required">
							<label for="oldPassword">Password :</label>
							<input type="password" class="input100" id="oldPassword" name="oldPassword" placeholder="Password">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</span>
						</div>
					</div>
					<!-- submit -->
					<div class="container-login100-form-btn">
						<button class="status-share">
							Update
						</button>
					</div>
				</div>
				</form>
			<!-- </div> -->
		</div>
	</div>
	
	
	<script>
		
	  </script>
	
	  <script src="/web/static/js/upload.js"></script>
</body>
</html>